:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.carrent {
  color: var(--accent-color);
}
button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}

/* ---------------container---------------------------------- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
  margin: 0px auto;
}

/* ------------------------------header----------------------------------------------------------------------- */
/* Логотип */

.header-logo {
  margin-right: 93px;
}

.header-navigation {
  display: flex;
}
.header-list,
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-list {
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-navigation > a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.header-navigation span {
  color: var(--accent-color);
}
/* Список навигационных ссылок */

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.carrent {
  color: var(--accent-color);

  /* telefon and mail */
}
.header-mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-right: 50px;
}

.header-tel {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.adress-tel:focus,
.adress-tel:hover,
.adress-mail:focus,
.adress-mail:hover {
  color: var(--accent-color);
}

/* ---------------------------------main-------------------------------------------------------------------------------- */
/* hero-title */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.hero,
.info {
  background: gray;
  /* Временно для видимости текста */
}
/* Кнопка в секции hero */

.hero-button {
  background: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}
/* Текст */

.info-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.info-after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
/* Чем мы занимаемся + наша команда */

.skils-title,
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.team-item > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.team-item > p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
/* ---------------------------------footer-------------------------------------------------- */
/* Logo */
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-logo span {
  color: var(--accent-color);
}
.footer {
  background-color: gray;
  /* Временный фон для проверки цвета текста */
}
/* Контакты */
.adress-geo {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  font-style: normal;
}
.adress-mail,
.adress-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
/* ------------------------------second page------------------------------------------------------------ */
/* Список фильтров */

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: rgb(240, 239, 239);
  /* Фон временный */
  border: none;
  cursor: pointer;
}
.filter-button:active,
.filter-button:focus {
  background: var(--accent-color);
  color: var(--third-text-color);
}
/* projects */

.projects-link > h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.projects-link > p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
